.error-popup {
    display: block;
    background-color: #ffebe6; /* Adjust background color */
    border: 1px solid #ff5630; /* Adjust border color */
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 4px;
    z-index: 1;
  }
  
  .error-message {
    color: #ff5630; /* Adjust text color */
    font-size: 12px; /* Adjust font size */
    font-weight: 600;
  }

  .show-password-icon {
    position: absolute;
    top: 25px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  @media (max-width: 640px) {
   
    .show-password-icon {
      position: absolute;
      top: 25px;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    
  }